{{ form_start(filtro_form) }}
{{ form_row(filtro_form.nombre) }}
{{ form_row(filtro_form.estado) }}
{{ form_row(filtro_form.descripcion) }}
{{ form_row(filtro_form.creadoEn) }}
<button type="submit" class="btn-back">Filtrar</button>
{{ form_end(filtro_form) }}
